<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados Postgres -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost/db_core</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">root</property>
		

		<!-- Configurações de Conexão com o Banco de Dados MySQL 
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/db_core</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>-->
				
		<!-- Pool de Conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">update</property>
		
		<!--  Mapeamento  -->  
        <mapping class="br.com.telesul.core.model.Usuario"/>
        <mapping class="br.com.telesul.reporting.model.Conexao"/>
        <mapping class="br.com.telesul.reporting.model.AtributosDaPesquisa"/>
        <mapping class="br.com.telesul.reporting.model.Relatorio"/>
        <mapping class="br.com.telesul.reporting.model.SubGrupoRelatorio"/>
        <mapping class="br.com.telesul.reporting.model.GrupoRelatorio"/>
        <mapping class="br.com.telesul.reporting.model.Grafico"/>
        <mapping class="br.com.telesul.reporting.model.GrupoGrafico"/>
        <mapping class="br.com.telesul.reporting.model.SubGrupoGrafico"/>
               
	</session-factory>
	
	

</hibernate-configuration>
